{% extends 'base.html.twig' %}

{% block title %}Mise à jour utilisateur{% endblock %}

{% block body %}
  <div class="container mt-4">
     <h1>Editer l'utilisateur</h1>
     
     {% include 'utilisateur/_form.html.twig' %}
  </div>

{% endblock %}