{% extends 'base.html.twig' %}

{% block title %}Mise à jour achat{% endblock %}

{% block body %}
  <div class="container mt-4">
     <h1>Editer la commande de l'utilisateur</h1>
     
     {% include 'achat/_form.html.twig' %}
  </div>

{% endblock %}